services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://postgres:1224@db:5432/medicine_db
      - JWT_SECRET=sajfojheowifri33333
      - NODE_ENV=production
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1224
      - POSTGRES_DB=medicine_db
    ports:
      - "5432:5432"